<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tweets Board - {% block title %}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    </head>
    <body>
        <div class="container text-center">
            <h1>Tweets Board</h1>
                {% include('_navigation.html') %}
            <section>
                <header>
                    {% block header %}{% endblock header %}
                </header>
                <main>
                    {% block content %}<p>No tweets.</p>{% endblock content %}
                </main>
            </section>
        </div>
    </body>
</html>